                   <h2>Reserva pendiente de confirmaci칩n </h2>
                   <p class="bf-title">Estimado Sr/Sra. <%= booking.customer_name %> <%= booking.customer_surname %>: </p>
                   <p class="bf-message">Queremos agradecerle su confianza en <strong><%= bookingConfiguration.company %></strong> para el alquiler de su <%= bookingConfiguration.item_type %>.</p>
                   <p class="bf-message">En breve recibir치 en su correo electr칩nico, <em> <%= booking.customer_email %> </em>, todos los datos para realizar el pago de su reserva.</p>
                   <p class="bf-message">Recuerde que dispone de una plazo m치ximo de 72 horas para realizar el pago y de esta forma confirmar su reserva.</p>
                   <p class="bf-footer">Atentamente, </p>
                   <p class="bf-footer">El equipo de <%= bookingConfiguration.company %></p>
